@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-karla: var(--font-karla);
  --font-jost: var(--font-jost);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-7: var(--chart-7);
  --color-chart-6: var(--chart-6);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* --shadow-new: 0px 4px 24px 2px rgba(20, 25, 38, 0.05); */
}
:root {
  --radius: 0.65rem;
  --background: #f2f7fb;
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #2377fc;
  --primary-foreground: #ffffff;

  --secondary: #7b5fff; /* Muted Indigo */
  --secondary-foreground: #ffffff;

  --accent: #7b5fff; /* Soft Gold */
  --accent-foreground: #ffffff;

  --muted: #f4f5f7;
  --muted-foreground: #4b5563;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
  --chart-1: #36a2eb;
  --chart-2: #ff6384;
  --chart-3: #4bc0c0;
  --chart-4: #ff9f40;
  --chart-5: #9966ff;
  --chart-6: #ffcd56;
  --chart-7: #c9cbcf;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #0f172a;
  --foreground: oklch(0.985 0 0);
  --card: #1e293b;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #2377fc;
  --primary-foreground: #ffffff;

  --secondary: #946cff;
  --secondary-foreground: #000000;

  --accent: #946cff;
  --accent-foreground: #000000;

  --muted: #1f314f;
  --muted-foreground: #a0aec0;
  --destructive: oklch(66.904% 0.21814 24.503);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: #36a2eb;
  --chart-2: #ff6384;
  --chart-3: #4bc0c0;
  --chart-4: #ff9f40;
  --chart-5: #9966ff;
  --chart-6: #ffcd56;
  --chart-7: #c9cbcf;
  --sidebar: #0f172a;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: #1f314f;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#superdoc-toolbar::-webkit-scrollbar {
  width: 2px !important;
  height: 4px !important;
  padding-bottom: 4px !important;
}

#superdoc-toolbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}

#superdoc-toolbar::-webkit-scrollbar-track {
  background-color: transparent;
}

[data-item-id="65f1cfbe-921e-45d5-8c59-fbcab4b3e47b"] {
  display: none !important;
}
